.container-for-assign-participants {
    background-color: #FFECF0;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin: 30px;
}

.assign-participant-title {
    font-size: 2.2em;
    color: #333;
    margin-bottom: 15px;
    text-align: center;
    border-bottom: 2px solid #b8b8b8;
    padding-bottom: 15px;
}

.filter-section {
    display: flex;
    justify-content: left;
    align-items: center;
    margin-bottom: 30px;
    gap: 15px;
    flex-wrap: wrap;
    border-bottom: 2px solid #b8b8b8;
    padding-bottom: 15px;
}

.filter-bar input[type="search"],
.filter-bar select {
    padding: 8px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.filter-button {
    padding: 3px 15px;
    background-color: #9B112E;
    color: white;
    border: 3px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
}

.filter-button:hover {
    background-color: white;
    color: #9B112E;
    border: 3px solid #9B112E;
}

.user-list {
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-bottom: 30px;
}

.user-item {
    background-color: white;
    padding: 15px;
    border-radius: 6px;
    box-shadow: inset 0 1px 3px rgba(0,0,0,0.05);
    border: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
}

.user-item input[type="checkbox"] {
    margin-right: 15px;
    transform: scale(1.2);
}

.user-item label {
    font-size: 1.1em;
    color: #333;
}

.form-actions {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    margin-top: 30px;
    padding-top: 20px;
    border-top: 1px solid #eee;
}

.edit-button, .cancel-button {
    padding: 12px 25px;
    border: 3px solid transparent;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
    text-decoration: none;
    text-align: center;
}

.edit-button {
    background-color: #9B112E;
    color: white;
}

.edit-button:hover {
    background-color: white;
    color: #9B112E;
    border: 3px solid #9B112E;
}

.cancel-button {
    background-color: black;
    color: white;
}

.cancel-button:hover {
    background-color: white;
    color: black;
    border: 3px solid black;
}
